<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLiteDB" connectionString="Data Source=Data.db;" providerName="System.Data.Sqlite" />
		<add name="SQLiteDB" connectionString="C:\Users\adam\source\repos\EasyRent\proj\Data.db;" providerName="Microsoft.Data.Sqlite" />
	</connectionStrings>
	<appSettings>
		<add key="RENT_DB_PATH" value="C:\Users\adam\source\repos\EasyRent\proj\Data.db" />
	</appSettings>
</configuration>

